.retribal-lcol {
    float:left;
    width: 50%
}
.retribal-rcol{
    float:right;
    width: 45%;
}

.retribal-soclist > li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.retribal-soclist > li > a {
    box-shadow: none;
    color: initial;
}